
* {
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
	padding: 10px;
}

div {
	border: 5px solid black;
	text-align: center;
}

div > h1 {

}

.header {
	display: flex;
	justify-content: center;	
	width: 100%;
}

.main {
	display: table;
	width: 100%;
}

.left {
	display: inline-block;
	width: 30%;
	padding-top: 200px;
	padding-bottom: 200px;
	margin: auto;
}

.right {
	display: inline-block;
	width: 70%;
	margin: auto;
	padding-top: 200px;
	padding-bottom: 200px;
}

.footer {
	width: 100%;
}
